.Dropdown {
    user-select: none;
    position: relative;
    cursor: pointer;
}

.Dropdown>p {
    color: #111;
    display: flex;
    align-content: center;
}

.Dropdown__elements {
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 0;
    min-width: 150px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 5px; */
    transition: opacity 0.2s ease-in;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

.elements__link {
    text-decoration: none;
    font-size: 0.8rem;
    width: 100%;
    margin: 5px 0;
    padding: 5px 15px;
    color: rgb(65, 63, 63);
}

.elements__link:hover {
    background-color: #ddd;
}

.elements__split {
    height: 1px;
    background-color: #ddd;
    border: none;
}

.toggle-opacity-enter {
    /* display: block; */
    opacity: 0;
}

.toggle-opacity-active {
    opacity: 1;
}

.toggle-opacity-exit {
    opacity: 1;
}

.toggle-opacity-exit-active {
    opacity: 0;
}