.Dropdown {
    user-select: none;
    position: relative;
    cursor: pointer;
}

.Dropdown__elements {
    position: absolute;
    top: 25px;
    right: 10px;
    transition: opacity 0.2s ease-in;
}

.toggle-opacity-enter {
    display: block;
    opacity: 0;
}

.toggle-opacity-active {
    opacity: 1;
}

.toggle-opacity-exit {
    opacity: 1;
}

.toggle-opacity-exit-active {
    opacity: 0;
}