.Dropdown {
    position: relative;
    cursor: pointer;
}

.Dropdown__elements {
    position: absolute;
    top: 15px;
    right: 10px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.Dropdown__active {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}