.btn {
    margin: 0 5px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.btn-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.btn-circle-sm {
    padding: 0;
    width: 30px;
    height: 30px;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
}

.btn-primary {
    background-color: #4e73df;
}

.btn-success {
    background-color: #1cc88a;
}

.btn-info {
    background-color: #36b9cc;
}

.btn-warning {
    background-color: #f6c23e;
}

.btn-danger {
    background-color: #e74a3b;
}

.btn-block {
    display: block;
    width: 100%;
    font-size: 1rem;
}