.btn {
    margin: 0 5px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.btn-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.btn-circle-sm {
    padding: 0;
    width: 30px;
    height: 30px;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
}

.btn-primary {
    background-color: #4e73df;
}

.btn-success {
    background-color: #1cc88a;
}

.btn-info {
    background-color: #36b9cc;
}

.btn-warning {
    background-color: #f6c23e;
}

.btn-danger {
    background-color: #e74a3b;
}

.btn-block {
    display: block;
    width: 100%;
    font-size: 1rem;
}

.btn-secondary {
    background-color: #3a3b45;
}

.btn-light {
    color: #3a3b45;
    background-color: #f8f9fc;
}

.btn-split {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.btn-split #text {
    color: black;
}

.btn-split div {
    border-radius: 5px 0 0 5px;
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    /* background-color: #fff; */
}

.btn-split .btn__icon {
    color: lightgray;
}

.btn-split.btn-primary div {
    background-color: #30488f;
}

.btn-split.btn-success div {
    background-color: #139264;
}

.btn-split.btn-info div {
    background-color: #2b8c9b;
}

.btn-split.btn-warning div {
    background-color: #be9631;
}

.btn-split.btn-danger div {
    background-color: #922b21;
}

.btn-split.btn-secondary div {
    background-color: #313238;
}

.btn-split.btn-light div {
    background-color: #bfc0c5;
}