footer {
    text-align: center;
    margin-top: 30px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #ddd;
    /* grid-column: 2/3;
    grid-row: 3/4; */
}

@media (min-width: 769px) {
    .footer {
        grid-column: 2/-1;
        grid-row: 3/-1;
    }
}