.side-nav {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    /* bottom: 0; */
    min-height: 100vh;
    width: var(--side-nav-width);
    background-color: #4d73df;
    z-index: 100;
}

.logo-text {
    display: none;
}

.side-nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 0.7rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.side-nav__list li,
.nav-items__header {
    margin: 5px;
}

.side-nav__list a {
    color: white;
    text-decoration: none;
}

.side-nav__icon.logo {
    transform: rotate(-30deg);
    font-size: 40px;
    color: white;
}

.nav-items__header {
    opacity: 0.5;
}

@media (min-width: 576px) {
    .side-nav {
        /* display: none !important; */
        width: var(--side-nav-width);
        background-color: #4e73df;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
    }
    .side-nav__list {
        margin: 0;
        padding: 0;
    }
    .side-nav__list li,
    .nav-items__header,
    .arrow-control {
        margin: 10px 15px;
        padding: 7px;
    }
    .side-nav__list li a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        opacity: 0.8;
    }
    .side-nav__list li:first-of-type {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        text-transform: uppercase;
        text-align: center;
    }
    .side-nav__list li:first-of-type a {
        font-size: 18px;
    }
    .nav-items__header {
        text-transform: uppercase;
        font-size: 10px;
    }
    .upper-line {
        border-top: 1px solid;
        opacity: 0.4;
    }
    .arrow-control {
        text-align: center;
    }
    .active {
        font-weight: bold;
        opacity: 1;
    }
}