* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --side-bar-width: 220px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.fontAwesome {
    color: #ddd;
    font-size: 20px;
    /* opacity: 0.5; */
    padding: initial 10px;
}

.fontAwesome:visited {
    color: #ddd;
}

.big {
    font-size: 2.2em;
}