@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    /* --side-bar-width: 220px; */
    --primary: #4e73df;
    --side-nav-width: 100px;
    --header-height: 70px;
    --footer-height: 80px;
}

ul {
    padding: 0;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

#root {
    /* position: relative; */
    max-width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    /* display: grid;
    grid-template-columns: side-nav-start 80px side-nav-end 1fr;
    grid-template-rows: header-start 70px header-end 1fr footer-start var( --footer-height) footer-end; */
    /* max-width: 100vw; */
    /* overflow: hidden; */
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

.fontAwesome {
    color: #ddd;
    font-size: 20px;
    /* opacity: 0.5; */
    padding: initial 10px;
}

.fontAwesome:visited {
    color: #ddd;
}

.big {
    font-size: 2.2em;
}

.hero {
    grid-row: 2/3;
    grid-column: 2/-1;
}

@media (min-width: 768px) {
     :root {
        --side-nav-width: 220px;
    }
    #root {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: var(--header-height) 1fr var(--footer-height);
    }
}